# URL backend admin-dashboard (Next.js API)
# Emulator Android: http://10.0.2.2:3000
# Emulator iOS / Web: http://localhost:3000
# HP fisik (ganti IP komputer): http://192.168.1.8:3000
EXPO_PUBLIC_API_URL=http://localhost:3000
